.animatedMinion {
    background-color: aqua;
    width: 10px;
    height: 10px;
    position: relative;
    top: 150px;
    left: 150px;
    animation-name: spawnShot;
    animation-duration: 0.25s;
    animation-iteration-count: infinite;
    
  }

  @keyframes spawnShot {
    0% {background-color: black; right: 0px; top: 0px; border-radius: 0 0 0 0;}
    100% {background-color: red; right: 0px; top: 600px; border-radius: 0 0 0 0;}

  }